#title {
  padding-left: 20px;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: #2E2E2E;
  color: white;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

#container{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#form {
  padding: 20px;
  min-width: 500px;
  color: #2E2E2E
}

#allresults {
  padding: 20px;
  min-width: 400px;
  max-width: 500px;
  background-color: #e1565b;
  color: white;
}

#best {
  padding-block-end: 40px;
}

#results {
  font-weight: bold;
  padding-block-end: 40px;
}

#myForm {
  padding-block-end: 20px;
}

.label {
  display: block;
}

button {
  background-color: #2E2E2E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}